<a href="https://colab.research.google.com/github/faisal3325/pubg_prediction/blob/master/playground.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Running Pre-production tests**

In [0]:
from google.colab import files
import pandas as pd

In [0]:
# Helper functions

# to get all categorical variables
def getCatVariables(df):
  col = df.columns.to_series().groupby(df.dtypes).groups
  categorical_variables = []
  for k, v in col.items():
    if k.name == 'object':
      # categorical_variables.append(v)
      categorical_variables = v

  return categorical_variables

In [0]:
# Installing Kaggle
!pip install -q kaggle

In [4]:
# Kaggle API key
uploaded = files.upload()

Saving kaggle.json to kaggle.json

In [0]:
# moving kaggle.json to /root/
!mkdir root
!mv kaggle.json /root/
%cd /root/
# Renaming kaggle.json to .kaggle
mv kaggle.json .kaggle

In [29]:
# Importing dataset
!kaggle competitions download -c pubg-finish-placement-prediction

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading test_V2.csv.zip to /root
 91% 91.0M/100M [00:01<00:00, 44.7MB/s]
100% 100M/100M [00:01<00:00, 59.4MB/s]
Downloading sample_submission_V2.csv.zip to /root
 53% 9.00M/17.0M [00:01<00:00, 9.88MB/s]
100% 17.0M/17.0M [00:01<00:00, 16.7MB/s]
Downloading train_V2.csv.zip to /root
 96% 233M/244M [00:05<00:00, 54.3MB/s]
100% 244M/244M [00:05<00:00, 47.4MB/s]

In [32]:
!ls

sample_submission_V2.csv.zip  test_V2.csv.zip  train_V2.csv.zip

In [0]:
df_train = pd.read_csv('train_V2.csv.zip', compression='zip', header=0, sep=',', quotechar='"')
df_test = pd.read_csv('test_V2.csv.zip', compression='zip', header=0, sep=',', quotechar='"')

In [34]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4446966 entries, 0 to 4446965
Data columns (total 29 columns):
Id                 object
groupId            object
matchId            object
assists            int64
boosts             int64
damageDealt        float64
DBNOs              int64
headshotKills      int64
heals              int64
killPlace          int64
killPoints         int64
kills              int64
killStreaks        int64
longestKill        float64
matchDuration      int64
matchType          object
maxPlace           int64
numGroups          int64
rankPoints         int64
revives            int64
rideDistance       float64
roadKills          int64
swimDistance       float64
teamKills          int64
vehicleDestroys    int64
walkDistance       float64
weaponsAcquired    int64
winPoints          int64
winPlacePerc       float64
dtypes: float64(6), int64(19), object(4)
memory usage: 983.9+ MB

In [0]:
categorical_variables1 = getCatVariables(df_train)
categorical_variables2 = getCatVariables(df_test)

In [56]:
df_test[categorical_variables2]

                     Id         groupId         matchId  matchType
0        9329eb41e215eb  676b23c24e70d6  45b576ab7daa7f  squad-fpp
1        639bd0dcd7bda8  430933124148dd  42a9a0b906c928    duo-fpp
2        63d5c8ef8dfe91  0b45f5db20ba99  87e7e4477a048e  squad-fpp
3        cf5b81422591d1  b7497dbdc77f4a  1b9a94f1af67f1    duo-fpp
4        ee6a295187ba21  6604ce20a1d230  40754a93016066  squad-fpp
...                 ...             ...             ...        ...
1934169  a316c3a13887d5  80e82180c90951  f276da5fd73536  squad-fpp
1934170  5312146b27d875  147264a127c56e  fb77cbfe094a6b  squad-fpp
1934171  fc8818b5b32ad3  7bbb4779ebedd5  efb74d5f6e9779  squad-fpp
1934172  a0f91e35f8458f  149a506a64c2b1  3a2cf335bc302f    duo-fpp
1934173  3696fc9f3a42b2  c770d7feaf020f  9d4e2b6d506fd0  squad-fpp

[1934174 rows x 4 columns]

In [0]:
col_drop = ['Id', 'groupId', 'matchId']
df_test.drop(col_drop, axis=1, inplace=True)

In [58]:
df_test.head()

   assists  boosts  damageDealt  ...  walkDistance  weaponsAcquired  winPoints
0        0       0        51.46  ...         588.0                1          0
1        0       4       179.10  ...        2017.0                6          0
2        1       0        23.40  ...         787.8                4          0
3        0       0        65.52  ...        1812.0                3          0
4        0       4       330.20  ...        2963.0                4          0

[5 rows x 25 columns]

In [51]:
df_train[categorical_variables1]

         matchType
0        squad-fpp
1        squad-fpp
2              duo
3        squad-fpp
4         solo-fpp
...            ...
4446961  squad-fpp
4446962       solo
4446963  squad-fpp
4446964  squad-fpp
4446965   solo-fpp

[4446966 rows x 1 columns]

In [0]:
col_drop = ['Id', 'groupId', 'matchId']
df_train.drop(col_drop, axis=1, inplace=True)

In [48]:
df_train.head()

   assists  boosts  damageDealt  ...  weaponsAcquired  winPoints  winPlacePerc
0        0       0         0.00  ...                1       1466        0.4444
1        0       0        91.47  ...                5          0        0.6400
2        1       0        68.00  ...                2          0        0.7755
3        0       0        32.90  ...                3          0        0.1667
4        0       0       100.00  ...                2          0        0.1875

[5 rows x 26 columns]